@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&display=swap");

/* ---- CSS Reset ---- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px red solid; */
}

html {
  font-size: 16px;
}

input,
input:focus,
button,
button:focus {
  border: none;
  outline: none;
}

/* ---- styles from zeplin ---- */
:root {
  --primary: #eb5490;
  --primary10: rgba(235, 84, 144, 0.1);
  --primary25: rgba(235, 84, 144, 0.25);
  --primary50: rgba(235, 84, 144, 0.5);
  --secondary2: #ffc02d;
  --secondary1: #4fccf5;
  --secondary5: #ffa25a;
  --secondary3: #92dcd0;
  --secondary4: #926ac7;
  --ivory:rgba(255,236,214,1);
  --black: #222222;
  --black75: rgba(34, 34, 34, 0.75);
  --black50: rgba(34, 34, 34, 0.5);
  --black40: rgba(34, 34, 34, 0.4);
  --black25: rgba(34, 34, 34, 0.25);
  --black10: rgba(34, 34, 34, 0.1);
  --black0: rgba(34, 34, 34, 0);
  --grey1: #444444;
  --grey2: #888888;
  --lightGrey1: #ebebeb;
  --lightGrey2: #f6f6f6;
  --white: #ffffff;
  --white90: rgba(255, 255, 255, 0.9);
  --white75: rgba(255, 255, 255, 0.75);
  --white50: rgba(255, 255, 255, 0.5);
  --white25: rgba(255, 255, 255, 0.25);
  --white10: rgba(255, 255, 255, 0.1);
  --white0: rgba(255, 255, 255, 0);
  --black-shade: linear-gradient(var(--black25), var(--black0));
  /* linear-gradient(red 10%, 30%, blue 90%); */
  --text-shadow-for-white: var(--black25) 0px 0px 2px;
}

.t-headline {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.t-title1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.t-body1 {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
}

.t-title2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}

.t-body2 {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
}

.t-caption {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.33;
}

.t-level-badge-number {
  font-size: 10px;
  font-weight: 500;
  color: var(--white);
}

.t-smallcaption {
  font-size: 10px;
  font-weight: 300;
  line-height: 1.4;
}

/* --------------------------- */

body {
  height: 100vh;
  display: flex;
  font-family: "Noto Sans TC";
  z-index: 1;
}

main {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(255, 242, 242);
}

aside {
  flex: 1;
  height: 100%;
  background-color: rgb(199, 212, 231);
}

.phone {
  height: 667px;
  width: 375px;
  position: relative;
}
.mockup {
  height: 100%;
  width: 100%;
  border: white 1px solid;
  z-index: 10;
}
.app {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.streaming {
  height: 100%;
  width: 100%;
  background-color: rgb(68, 66, 66);
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./img1.png");
  z-index: 0;
}

.streaming video {
  height: 100%;
  width: 100%;
}
.shades {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-shade {
  width: 100%;
  height: 20%;
  background: var(--black-shade);
  z-index: 100;
}
.bottom-shade {
  width: 100%;
  height: 20%;
  background: var(--black-shade);
  z-index: 100;
  transform: rotate(180deg);
}
.ui {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-ui {
  display: flex;
  justify-content: space-between;
}
.clear-zone {
  /* background-color: rgb(172, 102, 102); */
  flex: 1;
}

/* .fade-shade {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 100), rgba(0, 0, 0, 0));
  top: 0;
  height: 50px;
  width: 100%;
} */
.bottom-ui {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

/* ---- some reusable component styles ---*/
.avatar40 {
  height: 40px;
  width: 40px;
  background-image: url("default_avatar.svg");
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
}
svg.feather {
  /* stroke-width: 1; */
  height: 20px;
  width: 20px;
}

.icon-button {
  border: none;
  height: 40px;
  width: 40px;
  background-color: var(--white25);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

/* ----------------------- */

.host-info {
  display: flex;
  align-items: center;
  height: 44px;
  border-radius: 22px;
  background-color: var(--white25);
  padding-right: 16px;
  color: var(--white);
  text-shadow: var(--black50) 0px 0px 3px;
}
.host-status {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.host-live-data {
  display: flex;
  align-items: center;
}

.host-live-data svg.feather {
  height: 12px;
  width: 12px;
}

input.chat-input {
  height: 40px;
  width: 50%;
  border-radius: 20px;
  border: 1px solid var(--white0);
  background-color: var(--white25);
  color: var(--white);
  padding-left: 12px;
  font-size: 14px;
  text-shadow: var(--text-shadow-for-white);
}
.chat-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--white);
  opacity: 1; /* Firefox */
}
.chat-input:focus {
  background-color: var(--white25);
  border: 1px solid var(--white50);
}
.chatroom {
  width: calc(100% - 112px);
  height: 20%;
  /* border: 1px solid #fff; */
  position: relative;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 30% 100%
  );
}
.msgs {
  height: 100%;
  max-width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}
.msg {
  background-color: var(--black40);
  border-radius: 4px;
  color: var(--white);
  text-shadow: 0 0 2px var(--black50);
  margin: 2px 0;
  padding: 2px 4px;
  word-break: break-all;
}
.msg > * {
  margin: 2px;
  vertical-align: middle;
}
.msg-nickname{
  color: var(--ivory);
}
.msg-lv-badge {
  display: inline-block;
  background-color: var(--primary50);
  height: 18px;
  border-radius: 9px;
  padding: 2px 4px 2px 4px;
  min-width: 30px;
}
.msg-lv-badge svg.feather {
  width: 8px;
  height: 8px;
  fill: var(--white);
}
